body{
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 4px;
    color: #000;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*Cabeçalho*/
#cabecalho{
    background-color: #256B52;

    text-align: center;
    top: 0;
    /*position: fixed;*/
    font-size: 5em;

    width: 100%;
    margin: auto;

    clear: both;
}

#titulo{
    color: #fff;
    margin: 0;
    padding: 2em;
    font-size: 2em;
}

.menu {
    text-align: center;

    padding: 0.5em;
    margin: auto;
}

.menu a{
    margin: 1em;
    padding: 2em;
    text-decoration: none;

    color: #fff;
}

.menu a:hover{
    color: #C4C4B0;
}

.menu_cabecalho {
    background-color: #4BC18D;
}

/*Conteúdo*/
#conteudo {
    width: 90%;
    padding: 5%;
    margin: auto;
    font-size: 3em;
    display: block;
    text-align: center;
}

#conteudo h2 {
    font-size: 2.5em;
}

#conteudo h3 {
    font-size: 2em;
}

#conteudo h2, #conteudo h3{
    text-align: center;
}

#minha_foto {
    margin: 4em;
    width: 50%;
    border-radius: 50%;
}

.blocos {
    display: inline-block;
    text-align: center;
    padding: 2em;
    margin: 3em auto;
    box-shadow: 1em 1em 1em #aaa;
}

.blocos p {
    text-align: justify;
}

.blocos ol, .blocos ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.lado_esquerdo {
    float: left;
    position: static;
}

#aprendizados, #tryber{
    width: 45%;
    margin: auto;
}

#rodape {
    clear: both;
    background-color: #256B52;
    font-size: 5em;
    padding: 2em;
}